.header-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 3px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: white;
}

.logo {
  width: 193.85px;
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0056b3;
  font-weight: bold;
  border-radius: 5px;
}

.navigation {
  text-align: center;
}

.navigation ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 20px;
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #2353b5;
  font-weight: bold;
}

.nav-link.active {
  color: #2353b5;
}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 7px;
  left: 0;
  bottom: -8px;
  background: url("./밑줄.png") no-repeat center;
  background-size: cover;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.login-btn,
.get-started-btn {
  padding: 13px 25px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.login-btn {
  background-color: #0056b3;
  color: white;
  border: 1px solid #0056b3;
  border-radius: 8px;
}

.get-started-btn {
  background-color: #0056b3;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 1000;
}

.full-screen-modal {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-screen-overlay {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 999;
}

.close-modal-btn {
  background: none;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.logout-btn {
  padding: 12px 20px;
  margin-right: 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
  color: #2353b5;
  border: 1px solid #2353b5;
  border-radius: 8px;
}
