.analysis-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chart-container {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}