$title-color: #2353B5;

.analysis-page {
  // width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #f5f4f7;
}

.analysis-title {
  font-size: 36px;
  color: #2353b5;
  font-weight: bold;
  height: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.analysis-container {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.chart-container {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  color: $title-color;
}

.chart {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 32px;
}

.calendar-container {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  background: #ffffff;
}

.calendar-title {
  font-size: 16px;
  color: $title-color;
}

.feedback-content {
  background: #E3EEFC;
  border-radius: 32px;
  white-space: pre-wrap;
  font-size: 14px;
  color: #818181;
}