$title-color: #2353B5;

.chart-container {
  width: 646px;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  color: $title-color;
}

.chart {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 32px;
  padding: 20px;
  box-sizing: border-box;
}
