.diary-page {
  background-color: #f5f4f7;
  display: flex;
  height: calc(100vh - 94px);
  padding-top: 20px;
  overflow-y: hidden;

  .sidebar {
    box-sizing: border-box;
    background-color: white;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 24px;
    font-size: 16px;
    color: #2353b5;
    font-weight: 600;
    width: 15%;
    max-width: 280px;
    min-width: 200px;
    
    button {
      background-color: #2353b5;
      width: 100%;
      height: 64px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      border-radius: 32px;
      border: none;
      cursor: pointer;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      li {
        width: 100%;
        height: 48px;
        border-radius: 8px;
        display: flex;
        transition: background-color 0.3s;
        align-items: center;
    
        img {
          width: 24px;
          height: 24px;
          padding: 12px 20px;
        }
      }
    }
    
  
    .activeLi {
      background-color: rgba(35, 83, 181, 0.1);
    }
  
    hr {
      margin: 24px 0px;
      opacity: 0.4;
    }
  }

  .main-container {
    width: 80%;
    padding: 20px 0px 20px 40px;

    h1 {
      margin: 0px;
      font-size: 36px;
      color: #2353b5;
    }
  
    .main-content1 {
      display: flex;


    }

  }
  

}

.analysis-container {
  width: 100%;
  height: 100%;
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.weekly-container {
  width: 828px;
  height: 790px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 32px;
  background-color: #ffffff;
}

.feedback-title {
  font-size: 16px;
  color: #2353b5;
}

.feedback-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 748px;
  height: 446px;
  gap: 20px;
  background-color: #e3eefc;
  border-radius: 32px;
  white-space: pre-wrap;
  font-size: 14px;
  color: #818181;
  margin: 32px 24px;
  padding: 24px;
  box-sizing: border-box;
}
