.dayDiaryInfo-container{
    margin: 26px 0px 0px 16px;

    .dayDiary-container{
        box-sizing: border-box;
        width: 600px;
        height: 458px;
        background-color: #E3EEFC;
        border-radius: 32px 80px 32px 32px;
        padding: 32px;
        margin-bottom: 16px;
    }

    img{
        width: 80px;
        height: 80px;
    }
}