.diary-summary-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -17px;
    
    #listSort {
        width: 131px;
        height: 30px;
        text-align: center;
        color: #2343B5;
        font-size: 16px;
        margin-right: 16px;
        margin-bottom: 13px;
    }
    
    .diary-summary-list {
        overflow-y: scroll;
        height: 850px;
    }
    
    .diary-summary-content{
        cursor: pointer;
        box-sizing: border-box;
        height: 160px;
        width: 600px;
        background-color: #E3EEFC;
        display: flex;
        justify-content: space-between;
        border-radius: 32px 32px 80px 32px;
        padding: 28px 0px 31px 32px;
        margin: 0px 16px 16px 16px;

        .diary-summary-date{
            font-size: 18px;
            color: #818181;
            margin-bottom: 24px;
        }
        .diary-summary-title{
            font-size: 20px;
            font-weight: bold;
            color:#2343B5;
        }
        .diary-summary-sumContent{
            font-size: 16px;
            color:#2343B5;
        }

        .diary-summary-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: 30px;

            .diary-summary-delete{
                font-size: 14px;
                color : #A8A8A8;
                cursor: pointer;

                &:hover{
                    transition: 0.3s;
                    color: #6f6f6f;
                }
            }
            img{
                width: 72px;
                height: 72px;
                margin-top: 5px;
            }
        }
        
    }

    p{
        margin: 0;
    }
}