.diary-container{

    .diary-check {
        display: flex;
        align-items: center;
        img {
            width: 24px;
            height: 24px;
            cursor: pointer;
            
            &:hover{
                content: url('../images/DiaryViewImage/Trash.png');
            }
        }
    }
}

.diary-list{
    display: flex;

    .diary-box {
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 120px;
        width: 1000px;
        padding: 21px 28px;
        background-color: #E3EEFC;
        border-radius: 32px;
        margin-bottom: 16px;

        .diary-emotion {
            height: 64px;
            width: 64px;
            margin-right: 27px;
        }

        .diary-content{
            width: 700px;

            p{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        .diary-trash {
            height: 24px;
            width: 24px;
            margin-left: 130px;
        }
    p,h3 {
        margin: 0;
    }
    }
}