.calendar-container1 {
    box-sizing: border-box;
    border: 2px solid #2353b5;
    background: white;
    text-align: center;
    padding:  40px 72px 20px 72px;
    border-radius: 32px;
    margin-top: 26px;
    height: 100%;
    width: 100%;
    max-width: 828px;
    max-height: 784px;
    aspect-ratio: 1;

    .calendar-header{
        display: flex;
        color :#2353b5;
        font-size: 32px;
        font-weight: 600;
        justify-content: space-between;
        align-items: center;

        img {
             cursor: pointer; 
             width: 32px;
             height: 21.18px;
        }
     }
     
     .calendar-weeks {
        display: flex;
        color: #2353b5;
        justify-content: space-around;
        font-weight: bolder;
        margin: 40px auto;
     }

     .calendar-days {
         display: grid;
         grid-template-columns: repeat(7, 1fr);
         row-gap: 10px;
     }
}

    
