.day {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    position: relative;
    z-index: 0;
    height: 100px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.currentDay {
    color:white;
    transition: 0.1s;
        &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px; 
        height:100px; 
        background-color: #2353b5; 
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

.event {
    &::after{
        content: "";
        position: absolute;
        top: 20%;
        left: 50%;
        width: 12px; 
        height:12px; 
        background-color: green; 
        border-radius: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }
}

