.calendar-content {
  box-sizing: border-box;
  // border: 2px solid #2353b5;
  background: white;
  text-align: center;
  padding: 40px;
  border-radius: 32px;
  margin-top: 26px;
  width: 828px;
  height: 100%;

  .weekly-calendar-header {
    display: flex;
    color: #2353b5;
    font-size: 32px;
    font-weight: 600;
    height: 62px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }

  .calendar-weeks {
    display: flex;
    color: #2353b5;
    padding: 40px 33px;
    justify-content: space-between;
    font-weight: bolder;
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }
}

.select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.picker-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  box-sizing: border-box;
  width: 100%;
  img {
    cursor: pointer;
    width: 32px;
    height: 32px;
  }
}

.date-picker {
  width: 300px;
  outline: none;
  border: none;
  display: flex;
  color: #2353b5;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  caret-color: transparent;
  cursor: pointer;
}

.week-selector {
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;

  .week-selector-button {
    background-color: white;
    border: 1px solid #2353b5;
    border-radius: 4px;
    color: #2353b5;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    text-align: left;
  }

  .option-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    border: 1px solid #2353b5;
    border-radius: 4px;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 0;
    margin: 4px 0 0;
  }

  .option {
    list-style: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    color: #2353b5;
  }

  .option:hover {
    background-color: #2353b5;
    color: white;
  }
}

.react-datepicker {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 20px !important;
  background-color: #fff;
  color: #2353b5 !important;
  border: 1px solid #2353b5 !important;
  border-radius: 32px !important;
  display: inline-block;
  position: relative;
  line-height: initial;
  width: 300px !important;
  height: fit-content !important;
  font-weight: 600 !important;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  margin-top: 0;
  color: #fff !important;
  font-weight: bold;
  font-size: 0.944rem;
  border-radius: 32px 32px 0px 2px !important;
}

.react-datepicker__navigation--previous {
  left: 70px !important;
}

.react-datepicker__navigation--next {
  right: 70px !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #fff !important;
  border-style: solid;
  border-width: 3px 3px 0 0;
  content: "";
  display: block;
  height: 9px;
  position: absolute;
  top: 6px;
  width: 9px;
}

.react-datepicker__header {
  text-align: center;
  background-color: #2353b5 !important;
  border-bottom: 1px solid #2353b5 !important;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
  width: 100% !important;
}

.react-datepicker__month {
  text-align: center;
  // padding-top: 15px !important;
}

.react-datepicker__month-container {
  float: left;
  width: 100% !important;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text {
  display: inline-block;
  width: 5rem !important;
  margin: 2px;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 0.3rem;
  background-color: #bad9f1;
  color: #2353b5 !important;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border-radius: 32px 32px 0px 0px !important;
  color: #FFF !important;
}

.react-datepicker__day-name {
  color: #FFF !important;
  display: inline-block;
  width: 1.7rem;
  line-height: 1.7rem;
  text-align: center;
  margin: 0.166rem;
}

.react-datepicker__day--selected {
  border-radius: 0.3rem;
  background-color: #2353b5 !important;
  color: #fff;
}