.calendar-content {
  box-sizing: border-box;
  // border: 2px solid #2353b5;
  background: white;
  text-align: center;
  padding: 40px;
  border-radius: 32px;
  margin-top: 26px;
  width: 828px;
  height: 100%;

  .weekly-calendar-header {
    display: flex;
    color: #2353b5;
    font-size: 32px;
    font-weight: 600;
    height: 62px;
    padding: 0px 32px;
    justify-content: center;
    align-items: center;
    gap: 20px;

    img {
      cursor: pointer;
      width: 32px;
      height: 32px;
    }
  }

  .calendar-weeks {
    display: flex;
    color: #2353b5;
    padding: 40px 33px;
    justify-content: space-between;
    font-weight: bolder;
  }

  .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 8px;
  }
}

.date-picker {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}