.home {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.header {
  background-color: #ffffff;
  text-align: center;
}

.header-image {
  max-width: 100%;
  height: auto;
}

.main-content {
  background-color: #4169e1;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.about-section {
  margin-bottom: 40px;
}

.about-img {
  width: 100px;
  margin-bottom: 20px;
}

.features {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0px 0;
  gap: 20px;
  height: 330px;
}

.feature-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.feature-number {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

.feature-number img {
  height: auto;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.feature-icon {
  background-color: #e6e6fa;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.feature-icon img {
  width: 30px;
  height: 30px;
}

.feature-item h3 {
  color: #333;
  font-size: 1rem;
  margin: 0;
}

.feature-item p {
  font-size: 0.875rem;
  color: #666;
  margin-top: 10px;
}

.feature-shape {
  position: absolute;
  z-index: 2; /* Ensure shapes are above the content */
}

.shape-bottom-right {
  bottom: -10px;
  right: -10px;
}

.shape-top-right {
  top: -10px;
  right: -10px;
}

.recovery-section {
  margin: 30px 0;
  font-style: italic;
  overflow: hidden;
  white-space: nowrap;
}

.what-can-we-do {
  background-color: white;
  padding: 40px 20px;
  text-align: center;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.step {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1000px;
}

.step img {
  width: 50%;
  height: auto;
  margin-right: 20px;
}

.step-description {
  text-align: left;
}

.footer {
  background-color: #2353b5;
  color: white;
  padding: 20px 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-text {
  text-align: left;
}

.footer-text p {
  margin: 5px 0;
  font-size: 14px;
}

.footer-image {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}
